.App {
  text-align: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.full-width{
  width: 100vw;
}

.sbtw{
  justify-content: space-between;
}

.centered{
  justify-content: center;
  align-items: center;
}